h1{
    color: green;
}
.values-section {
    h1{
        margin-bottom: 40px;
    }
    .values-container{
        padding-left: 15px;
        flex-wrap: unset;
        overflow-x: auto;
        padding-bottom: 50px;
        @media (max-width: 700px) {
            flex-wrap: wrap;
            padding-bottom: 0px;
        }
        .value-icon{
            margin-bottom: 35px;
            height: 56px;
            width: 56px;
        }
        .value-title{
            margin-bottom: 16px;
        }
        .values-card{
            @include respond-to('medium'){
                padding-right: 150px;
                margin-bottom: 30px;
            }
            p{
                font-size: 18px;
                line-height: 1.5;
                color:$text_default;
            }
        }
    }
}